<link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">

<header>
  <a href="." title="Home"><img src="https://raw.githubusercontent.com/algolia/examples/master/instant-search/instantsearch.js/img/instant_search_logo%402x.png"/></a>
  <div id="search-input"></div>
  <div id="search-input-icon"></div>
</header>

<main>
  <div id="left-column">
    <div id="category" class="facet"></div>
    <div id="brand" class="facet"></div>
    <div id="price" class="facet"></div>
    <div id="type" class="facet"></div>
  </div>
  <div id="right-column">
    <div id="sort-by-wrapper"><span id="sort-by"></span></div>
    <div id="stats"></div>
    <div id="hits"></div>
    <div id="pagination"></div>
  </div>
</main>

